<h1>List of Cocktails</h1>

<% @cocktails.each do |cocktail| %>
<%= link_to cocktail.name, cocktail_path(cocktail.id) %><br>
<%= link_to "--> delete cocktail", cocktail_path(cocktail), method: :delete %><br>
<% end %>

<br>
<br>

<%= link_to "Add a cocktail", new_cocktail_path %>






